<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.time_parallel">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main_add_exam" />
        <activity android:name=".Main_add" />
        <activity
            android:name=".exam_ofline"
            android:label="@string/title_activity_exam_ofline"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Task"
            android:label="@string/title_activity_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".weekly"
            android:label="@string/title_activity_weekly"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Exam" />
        <activity
            android:name=".dashboard_offline"
            android:label="@string/title_activity_dashboard_offline"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>